.hover {
  color: hotpink;
}
.active {
  color: blue;
}

body {
  font-family: 'Oswald', sans-serif;
}
.header{
    color: white;
}
h1{
  text-shadow: 2px 2px black;
}
.footer{
  text-align: center; 
}
main{
  padding-bottom: 75px;
}
.image1 {
    background-image: url(../images/drone2.jpg); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
}
.image2 {
  background-image: url(../images/drone1.png); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
}
.image3 {
  background-image: url(../images/1.jpg); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
}
.image4 {
  background-image: url(../images/2.jpg); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
}
.image5 {
  background-image: url(../images/3.jpg); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
}
.image6 {
  background-image: url(../images/4.jpg); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
}

.yotsikko{
  padding-top: 30px;
}

.teksti{
  font-size: larger;
}
