body 		{
    font-family: Arial; 
    font-size: 12px;
    text-align: left;
    color: black;	
}

h1{
    font-size: 32px;

}
p{
    text-align: left;
}

.bluebg {
    background-color: rgb(42, 42, 75);
}
footer	{
    padding-top:15px;
    height: 42px;
    background-image: url(../images/links.png);
    text-align: center;
    }
.image {
    background-image: url(../images/drone2.png); background-repeat: no-repeat; background-size: cover; background-position: center center;
    min-height: 300px;
}



/* Yhteystietojen taulukkosetit alkaa tästä */ 

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(219, 118, 3);
    color: white;
  }

/* Yhteystietojen taulukkosetit loppuu tähän */