body {
  font-family: 'Oswald', sans-serif;
}
.header{
    color: white;
}

.image {
    background-image: url(../images/drone2.png); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    min-height: 300px;
}

.yotsikko{
  padding-top: 30px;
}

.teksti{
  font-size: larger;
}
